alembic==0.8.10
bleach==2.1.1
blinker==1.3
click==6.7
Flask==0.12
Flask-Bootstrap==3.0.3.1
Flask-Login==0.3.1
Flask-Mail==0.9.0
Flask-Migrate==2.0.3
Flask-Moment==0.2.1
Flask-PageDown==0.1.4
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
ForgeryPy==0.1
gunicorn==19.7.1
html5lib==1.0b10
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
Markdown==2.6.9
MarkupSafe==0.23
psycopg2==2.7.3.2
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.1.5
webencodings==0.5.1
Werkzeug==0.11.15
WTForms==2.1
