<html>
	
	<head>	<title>My Shop</title>
		<style type="text/css">
			body {
				background-color: #d3b48c;
				margin-left:20%;
				margin-right:20%;
				border: 5px dotted gray;
				padding: 10px 10px 10px 10px;
				font-family: dans-serif;
			}
		</style>
	</head>
	<body>
	<h2>Hello,wellcome to my shop!</h2>
	<img src="images/drink.png">
	<p>There are many <a href="beverages/elixir.html">elixir </a>you can choose.</p>
	<hr></hr>
	<h3>BOOK</h3>
	<h4>Head First Python</h4>
	<p><a id="houseblend">Houseblend.A book write by <em>somebody</em>,you can <strong>know两个strong是用来加粗</strong> how to be a python developer!</p>
	<address>http://ww.baidu.com  ,address用来表明是地址</addres>
	<h4>Leng Qian</h4>
	<p>this just a test,donot mind!this just a <a  target="-blank" href="about/directions.html">directions</a>can help you!</p>
	this just a test,donot mind!this just a test<q>结构中用q"quote"表示引用</q>,donot mind!<pre>this just a test</pre>,donot mind!this just a test,donot mind!this just a test,donot mind!this just a test,donot mind!this just a test,donot mind!this just a test,donot mind!this just a test,donot mind!</p>
	<p>a test</p>
	<code>if True:<br>
	a=a+1
	</code>
	<blockquote>
	Blockquote是大段内容引用的标记;<br>
	是和前后段落分开的，注意；</br>
	还有个换行就是br.<br>
	这是一首诗的引用？
	（注意：两个blockquote加两个p）
	</blockquote>
	<q>A journey of a thousand miles begins with one step!</q>
	<ol>
	<li>chengdu</li>
	<li>wuhan</li>
	<li>ol表示有序，ul表示无需，每个lsit用li包裹起来</li>
	</ol>

	
	</body>
</html>
